@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    font-family: "Inter", sans-serif;
}

* {
  cursor: none !important;
}

html, body, * {
  /* Hide scrollbar for all browsers */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
html::-webkit-scrollbar,
body::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}
